<!-- Modal -->
<div class="modal fade" id="modal-{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="card mb-3" style="width: 100%;">
            
            <div class="card-body">
                <ul class="list-group">
                    {% for challenge in task.challenges.all %}
                    <li class="list-group-item">
                        <p>
                            {{ challenge.description }}
                        </p>
                        <small class="float-right">
                            - {{task.user}} 
                        </small>
                    </li>
                    {%endfor%}
                </ul>
            </div>
            {% if not user.is_superuser %}
            <div class="card-footer">
                <a href="{% url 'addchallenge' task.id %}" class="btn btn-sm btn-info btn-block"> New Challenge
                    <i class="fas fa-plus-circle ml-1"></i>
                  </a>
            </div>
            {%endif%}
        </div>
      </div>
    </div>
  </div>