{%extends "base.html"%}

{% block content %}
{{block.super}}

<div class="container my-2">
   <div class="row">
        {% if user.is_superuser %}
        <div class="col-12">
          <a href="{% url 'addtask' %}" class="btn btn-info float-right btn-sm">
          <span class="text-center">
              Add Task <i class="fas fa-plus-circle"></i>
          </span>
          </a>
        </div> 
        {% endif %}     

        <div class="col-12 my-2" style="border-bottom: 2px solid;">
          <h2>Tasks</h2>
        </div>

          <!-- results -->
          {%for task in tasks %}
          <div class="col-md-4">
                   <div class="card card-home mb-3" style="width: 100%;">
                  
                       <div class="card-body">
                           <h5>{{task.title | title}}</h5>
                           <p class="text-muted">
                               {{ task.description |truncatechars:100 }}
                               <br>
                               {% if task.description|length > 100 %}
                               <small>
                                      <a href="#" target="_blank">
                                   Read More....
                               </a>
                               </small>
                               {%endif%}
                            
                           </p>
                           <p>
                               Project by: <strong>
                                   {{ task.user}}
                               </strong>
                           </p>
                           <p>
                             Phase:
                             {% if task.phase %}
                             <strong>
                               {{ task.phase }}
                             </strong>
                             {% else %}
                             <strong>
                               Update Phase below
                             </strong>
                             {%endif%}
                           </p>
                        
                        
                       </div>
                       <div class="card-footer">
                            {% if user.is_superuser %}
                              <div class="m-1 float-left">
                                <a class="btn btn-sm btn-outline-warning" href="{% url 'updatetask' task.id %}" target="_blank">
                                    Update Task
                                </a>
                              </div>
                              {%endif%}
                              <div class="m-1 float-right">
                                       <a class="btn btn-sm btn-outline-info" href="{% url 'updatephase' task.id %}" target="_blank">
                                           Update Phase
                                       </a>
                              </div>
                       </div>
                   
               </div>
          </div>
        {%empty%}
        <div class="text-center">
            
                   No records   
        </div>
        {%endfor%}
   </div>
</div>
<!-- copyrights -->
<div class="mt-1 text-center">
    <small class="text-center">
    Copyright © 2021 Task Inc. All Rights Reserved
    </small>
</div>
{% endblock %}